[submodule "extern/dawn"]
	path = extern/dawn
	url = https://dawn.googlesource.com/dawn
	branch = main
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw
	branch = latest
