[submodule "extern/dawn"]
	path = extern/dawn
	url = https://dawn.googlesource.com/dawn
	branch = chromium/7200
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw
	branch = master
[submodule "extern/glm"]
	path = extern/glm
	url = https://github.com/g-truc/glm
	branch = master
[submodule "extern/entt"]
	path = extern/entt
	url = https://github.com/skypjack/entt
	branch = master
[submodule "extern/stb/stb"]
	path = extern/stb/stb
	url = https://github.com/nothings/stb.git
	branch = master
[submodule "extern/freetype"]
	path = extern/freetype
	url = https://github.com/freetype/freetype.git
	branch = master
[submodule "extern/JoltPhysics"]
	path = extern/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
	branch = master
[submodule "extern/sol2"]
	path = extern/sol2
	url = https://github.com/ThePhD/sol2
	branch = main
[submodule "extern/lua/lua"]
	path = extern/lua/lua
	url = https://github.com/lua/lua
	branch = v5.4
[submodule "extern/angelscript"]
	path = extern/angelscript
	url = https://github.com/anjo76/angelscript
	branch = master
[submodule "extern/boost/any"]
	path = extern/boost/any
	url = https://github.com/boostorg/any
